.layout-wrap-testing {
    height: 100%;
    min-height: 100vh;
}

.main-content-testing {
    padding: 24px;
    min-height: 85vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 18px;
    -webkit-box-shadow: 0px 5px 19px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 19px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 19px 3px rgba(34, 60, 80, 0.2);
}

.question-wrap {
    display: flex;
    width: 60%;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.question-button {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.btn-selected {
    color: chartreuse;
    border: 2px solid chartreuse;
}

.btn-answer {
    width: 150px;
    height: 50px;
}

.result-end-point {
    font-size: 19px;
}

.success-image-end {
    width: 70%;
    height: 70%;
}

.btn-sizes-end {
    width: 150px;
    height: 40px;
}
