.main-content-wrap {
    padding: 24px;
    background-color: #f5f5f5;
}

.main-content-cards {
    min-height: 70vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
